body {
    background-color: rgb(0, 174, 26);
    overflow: hidden;
}

.wheel {
    width: 100px;
    height: 100px;
    background-color: rgb(10, 10, 10);
    margin: auto;
    margin-left: 100px;
    margin-top: 150px;
    animation: exampe 1s infinite;
    position: absolute;
    justify-content: center;
    border-radius: 100%;
    z-index: 100;
}

.wheel:nth-child(2){
    margin-left: 400px;
}

.upper-car {
    margin-left: 145px;
    margin-top: 50px;
    background-color: red;
    height: 100px;
    width: 300px;
    position: absolute;
}

.window {
    height: 60px;
    width: 130px;
    background-color: aquamarine;
    position: absolute;
    left: 157px;
    top: 10px;
}

.window:first-child {
    left: 10px;
}

.lower-car {
    height: 70px;
    width: 400px;
    position: absolute;
    margin: auto;
    margin-left: 100px;
    margin-top: 130px;
    background-color: red;
}

@keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  .bar {
    width: 80%;
    height: 20px;
    background-color: rgb(107, 107, 107);
    border: 1px solid black;
    animation: example 1s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .bar:first-child {
      animation-delay: .6666s;
  }

  .bar:nth-child(2){
      animation-delay: .3333s;
  }

  .car {
      position: absolute;
      left: 400px;
      animation: drive 10s infinite;
      animation-timing-function: linear;
  }

  @keyframes drive {
    from {left: -500px;}
    to {left: 1500px;}
    
  }

  .highway {
      position: absolute;
      width: 110%;
      left: -20px;
      background-color: rgb(29, 29, 29);
      height: 250px;
      z-index: -100;
      top: 150px;
  }

  h1{
      position: absolute;
      font-size: 100px;
      color: white;
  }